*,
::before,
::after {
  box-sizing: border-box;
}

/* Color created by https://cssgradient.io/ */
body {
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    302deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 61%
  );
  background: -webkit-linear-gradient(
    302deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 61%
  );
  background: linear-gradient(
    302deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 61%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    min-height: 75px;
    display: flex;
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }

/* 
#header-img {
    max-width: 100%;
    max-height: 100%;
} */